@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #212121;
  --secondary: #757575;
  --background: #000;
}

body {
    background-color: var(--background);
    color: var(--main)
}
